#u1256-4,#u1340-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1342-4,#u1334-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1343-4,#u1338-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1356-5,#u1579-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1580-4,#u1584-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1590-4,#u1594-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1597-4,#u1599-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1602-8,#u1604-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1607-4,#u1611-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1612-4,#u1617-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1618-4,#u1620-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1623-4,#u1625-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1628-4,#u1630-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1633-4,#u1635-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1638-4,#u1642-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1643-4,#u1645-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1648-4,#u1650-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1279-4,#u1257-4,#u1243-4,#u1702-4,#u1273-4
{
	font-family: open-sans-n4, sans-serif;
}

#u1653-4,#u1270-5
{
	font-family: open-sans-n3, sans-serif;
}

